<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">FOLO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         <%= link_to 'Home', projects_path, class:'nav-link'%>
      </li>
      <% if user_signed_in? %>
         <li class="nav-item active">
          <a class="nav-link" href="#"><%= current_user.member_name%>さん <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        
        <li class="nav-item">
          <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ユーザー登録', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>

    <%= form_with  url:'/projects', method: :get,  class: 'form-inline mt-2 mt-md-0', local: true do |f|%>
      <% f.label :search %>
      <%= f.text_field :search, placeholder:'プロジェクト,タスクを検索', class: 'form-control mr-sm-2'  %>
      <%= f.submit 'Search', class:'btn btn-outline-warning my-2 my-sm-0' %> 
    <% end %>
</nav>


<div class="card mt-5">
  <div class="card-body">
    <h2 class='card-title d-flex justify-content-between mb-4'>
      <span>プロジェクト一覧</span>
      <%= link_to '新規投稿', new_project_path, class: 'btn btn-primary' %>
    </h2>

    <% @projects.each do |project| %>
      <%= link_to project, class: 'text-decoration-none' do %>
        <div class="card project-card mb-3">
          <div class="card-body">
            <div class="mb-3">
                <span class="badge badge-<%= project.badge_color %>">
                <%= project.status %>
              </span>
              <span class='text-secondary d-flex justify-content-between'>
                <small>
                  進捗：<%= project.percent_complete %>%
                  タスク完了数：(<%= project.total_complete %>/<%= project.total_tasks %>)
                </small>

                <small>
                   作成者: <%= project.user.member_name %>
                   作成日：<%= project.created_at.strftime('%Y/%m/%d') %> 
                </small>
              </span>
            </div>
            <h5 class='card-title text-dark'><b><%= project.name %></b></h5>
            <p class='text-secondary'><%= project.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
