<%= link_to 'Back', projects_path, method: :get, class: 'btn btn-secondary mb-3' %>


    <div class="card mb-10">
      <div class="card-body">
        <div class="mb-3">
        
        <h2 class='card-title d-flex justify-content-between mb-4'>
          <span><%= @project.name %></span>
          
          <div>
            <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-light' %>
            <%= link_to 'Delete', @project, method: :delete, class: 'btn btn-dark', data: { confirm: '削除しますか？' } %>
          </div>
        </h2>
        <p><%= @project.description %><p>
        <span>
        <%@project.tags.each do |tag| %>
           タグ： ＃<%=tag.title%>
          <%end%>
        </span>
      </div>
    </div>


   <h4>タスク一覧</h4>
   <div class="mb-4">
      <%= form_for([@task.project, @task]) do |f| %>
        <div class="input-group">
          <%= f.text_field :name, class: 'form-control', placeholder: 'タスク名を入力' %>
          <div class="input-group-append">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      </div>
    <% @project.tasks.each do |task| %>
      <% if task.persisted? %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span class="badge badge-<%= task.badge_color %> mb-3"><%= task.status %></span>
              <div>
                <%= link_to 'Edit', edit_project_task_path(task.project, task), class: 'btn btn-light btn-sm' %>
                <%= link_to 'Delete', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-dark btn-sm' %>
              </div>
            </div>
            <h5 class='card-title mb-2'>
              <span><%= task.name %></span>
            </h5>
            <p><%= task.description %></p>
          </div>
        </div>
      <% end %>
    <% end%>



  </div>
</div>





